/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

body {
	background-color: #fff;
	min-width: 800px;
	margin-top: -10px;
}

.formContainer {
	height:400px;
}
label {
	width:100px;
	float:left;
	margin-left: 5px;
	margin-top: 5px;
}

div {
	text-align: left;
}

/* header and footer elements */

#main {
  	margin: 0 auto;
	width: 100%;
  	float:left;  	
  	top: 34px;
  	left:10px;  	 
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #47697e;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 15px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

a:link {
	color: #47697e;
}

a:hover {
	color: #688b9a;
}

a:active {
	color: #47697e;
}

a:visited {
	color: #47697e;
}


li {
	padding-top: 2px;
	text-align: left;
}

/* table consulta */
table.consulta {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: none;
	border-collapse: collapse;
}

table.consulta table.consulta {
	margin: -5px 0;
	border: 0px solid #000000;
	width: 100%;
}

table.consulta td.consulta{
	padding: 2px;
	border: none;
}

table.consulta th.consulta {
	border-left: 1px none #000000;
	height: 15px;
	padding: 2px;
	}

table th.consulta {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color: #fff;
}

table thead.consulta {
	font-weight: bold;
	font-style: italic;
	background-color: #688B9A;
	text-transform: uppercase;
}

table.resultado td{
	padding: 2px;
	border: 1px solid  #8B8682;
}

table.cadastro {
	padding: 2px;
	border: 1px solid  #8B8682;
}

/*Tabela de elementos*/
table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #000000;
	border-collapse: collapse;
	width: 100%;
}

table table {
	margin: -5px 0;
	border: 0px solid #000000;
	width: 100%;
}

table th {
	border-left: 1px solid #000000;
	height: 15px;
	padding: 2px;
	}

table th {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color: #fff;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #688B9A;
	text-transform: uppercase;	
}

table a:link {color: #303030;}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #fcf1d1;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

#menu {
	background: #EEE9E9;
}

#menu ul { 
	width="5%";
	padding:0px;
	margin:0px;
	background: #2F4F4F;
	list-style:none;
	padding: 6px;
}

#menu ul li { display: inline; }

#menu h1 {
	color: #ee;
	background: #EEE9E9;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 1em;
	text-align: center
}

#menu h2 {
	color: #ee;
	background: #EEE9E9;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 25px;
	text-align: center
}

#menu a {
	color: #FFFFFF;
	background: #9400D3;
	text-decoration: none;
	padding: 6px;
}

#menu a:hover {
	background: #00BFFF;
}

table.resultado tr:nth-child(even) {background: #CDC5BF}
table.resultado tr:nth-child(odd) {background: #EEE5DE}

div.content div {
	min-height: 50px;
}

div.content {
	min-height: 475px;
}

div.footer {
	background: #2F4F4F;
	color: #fff;
	margin-bottom: -10px;
}